<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
  
  <ul class="nav nav-pills col-md-4">
    <li><a href="https://github.com/projectblacklight/blacklight/">Github</a></li>
    <li><a href="https://github.com/projectblacklight/blacklight/wiki">Wiki</a></li>
    <li><a href="https://github.com/projectblacklight/blacklight/releases/tag/v<%= Blacklight::VERSION %>">Release Notes</a></li>
  </ul>

</div>

<div>
<a href="http://localhost:5000/annotations_to_csv" dowload="annotations.csv"> Export annotations to an excel-compatible .csv file by clicking this link. </a>
</div>
